@import "catppuccin-macciato.css";

* {
  font-family: Adwaita Sans;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  min-height: 0;
}

tooltip {
  background-color: alpha(@base, 0.8);
  border-radius: 12px;
  border: 2px solid @blue;
}

tooltip label {
  color: @text;
  padding: 5px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
  margin: 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 5px 5px 0px 5px;
  /* margin-top: 5px; */
}

#workspaces {
  background-color: alpha(@base, 0.8);
  margin: 2px 4px 0px 4px;
  padding: 0 3px;
  border-radius: 12px;
  opacity: 0.9;
}

#workspaces button {
  color: @text;
  background-color: transparent;
  margin: 4px 2px;
  padding: 0 2px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

#workspaces button.active {
  background-color: @blue;
  color: @base;
  min-width: 30px;
}

#workspaces button.urgent {
  color: @dark-bg;
  background-color: @yellow;
}

#workspaces button.empty {
  color: @surface2;
}

#tray,
#window,
#cava,
#mpris,
#system,
#hardware,
#langtime,
#mpd,
#idle_inhibitor {
  background-color: alpha(@base, 0.8);
  color: @text;
  border-radius: 20px;
  opacity: 0.9;
  margin: 2px 2px 0px 2px;
}

#cava,
#network,
#pulseaudio,
#clock,
#language,
#privacy,
#bluetooth,
#battery{
    margin: 0px;
    padding: 0px 6px;
}

#cpu,
#memory,
#disk {
    margin: 0px 3px;
}

#window,
#tray,
#hardware {
    padding: 0px 7px;
}

#language {
    min-width: 19px;
}

#network {
    padding: 0px 11px 0px 6px;
}

#window {
  margin: 0px 4px;
}

#custom-expand-icon {
  color: @text;
  margin-left: 8px;
}

#privacy {
    color: @peach;
}

#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#language:hover,
#battery:hover,
#clock:hover,
#tray > *:hover,
#idle_inhibitor:hover
#mpris:hover,
#mpd:hover {
  background-color: alpha(@surface0, 0.8);
  color: @blue;
}

#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @base;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#disk.warning {
  color: @yellow;
}

#disk.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#temperature.critical {
  color: @red;
  background-color: rgba(243, 139, 168, 0.2);
}

#mpris {
  min-width: 200px;
}

@keyframes blink {
  to {
    background-color: @text;
    color: @red;
  }
}
